.pagination {
    display: flex;
    list-style: none;
}

.pagination li {
    margin-right: 10px;
}

.pagination a {
    padding: 8px 12px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: red;
    border-radius: 4px;
}

.pagination .active {
    background-color: #007bff;
    color: red;
}
